@model Pizzashop.entity.ViewModels.AddSectionViewModel


<div class="modal fade" id="DeleteSection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <form method="post" id="DeleteSectionForm" asp-action="DeleteSection" asp-controller="TableAndSection">
            <input type="hidden" id="DeleteSectionId" asp-for="SectionId">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body justify-content-center align-items-center d-flex flex-column">
                    <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="Warning" height="40" width="40">
                    <p>Are you sure you want to delete this section<strong id="DeleteSectionName"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>