@model Pizzashop.entity.ViewModels.ChangepasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<div>

    <h3 class="my-4" style="color: #0077cc;">Change password</h3>

    <div class="border-2 border-black " style="max-width: 500px;">
        <form asp-action="ChangePassword" asp-controller="Home" method="post">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-5">
                <label asp-for="Password"></label>
                <div class="baricon password-box">
                    <input type="password" asp-for="Password" class="searchbaricon1" id="password"
                        placeholder="Password">
                    <i class="bi bi-eye-fill eye-icon oldpassword" onclick="toggleOldPassword()"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger text-start" style="float: left;"></span>
            </div>


            <div class="mb-5">
                <label asp-for="NewPassword"></label>
                <div class="baricon password-box-new">
                    <input type="password" asp-for="NewPassword" class="searchbaricon1" id="password"
                        placeholder="New password">
                    <i class="bi bi-eye-fill eye-icon newpassword" onclick="toggleNewPassword()"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger text-start" style="float: left;"></span>
            </div>

            <div class="mb-5">
                <label asp-for="ConfirmPassword"></label>
                <div class="baricon password-box-confirm">
                    <input type="password" asp-for="ConfirmPassword" class="searchbaricon1" id="password"
                        placeholder="Confirm password">
                    <i class="bi bi-eye-fill eye-icon confirmpassword" onclick="toggleConfirmPassword()"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger text-start" style="float: left;"></span>
            </div>




            <div class="d-flex justify-content-center justify-content-md-end mt-3">
                <button type="submit" class="btn btn-primary me-2">Update</button>
                <a asp-action="Profile" type="button" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleOldPassword() {
        const passwordIcon = document.querySelector('.oldpassword');
        const input = document.querySelector('.password-box input');

        if (input.getAttribute('type') === 'password') {
            input.setAttribute('type', 'text');
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        } else {
            input.setAttribute('type', 'password');
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        }

    }
    function toggleNewPassword() {
        const passwordIcon = document.querySelector('.newpassword');
        const inputnew = document.querySelector('.password-box-new input');

        if (inputnew.getAttribute('type') === 'password') {
            inputnew.setAttribute('type', 'text');
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        } else {
            inputnew.setAttribute('type', 'password');
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        }

    }
    function toggleConfirmPassword() {
        const passwordIcon = document.querySelector('.confirmpassword');
        const inputnew = document.querySelector('.password-box-confirm input');

        if (inputnew.getAttribute('type') === 'password') {
            inputnew.setAttribute('type', 'text');
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        } else {
            inputnew.setAttribute('type', 'password');
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        }

    }
</script>