@model Pizzashop.entity.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "AddUser";
}




<div class=" me-5">

    <div class="d-flex flex-row justify-content-between">
        <h1 class="fw-bold" style="color: #0077cc;">Add User</h1>
        <div class="d-flex flex-row gap-3">

            <button class="d-flex justify-content-center bg-primary-subtle rounded-2 align-items-center gap-2"
                style="height: 40px;">
                <a asp-action="UserList" class="d-flex text-decoration-none text-black gap-2"><i
                        class="bi bi-chevron-left"></i>
                    <p class="m-auto">Back</p>
                </a>

            </button>
        </div>
    </div>


    <form asp-action="AddUser" class="form-control shadow px-5" enctype="multipart/form-data" asp-antiforgery="true"
        method="post">
        <div class="d-flex flex-row gap-4 my-3 pt-5">
            <div class="col-6 form-floating">
                <input asp-for='FirstName' type="text" class="form-control" id="name" placeholder="">
                <label id="name">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>

            <div class="col-6 form-floating">
                <input asp-for='LastName' type="text" class="form-control hover-effect" id="name" placeholder="">
                <label asp-for='LastName'>Last Name</label>
                <span asp-validation-for="LastName" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>

        </div>
        <div class="d-flex flex-row my-3 gap-4 my-2">
            <div class=" col-6 form-floating">
                <input type="text" class="form-control hover-effect" asp-for='UserName' placeholder="">
                <label asp-for='UserName'>User Name</label>
                <span asp-validation-for="UserName" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>

            <div class="form-floating col-6">
                <select id="roleDropdown" class="form-select" name="RoleId" asp-for="RoleId">
                </select>
                <span asp-validation-for="RoleId" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
        </div>
        <div class="d-flex flex-row my-3 gap-4">
            <div class="col-6 form-floating">
                <input type="email" class="form-control hover-effect" asp-for="Email" placeholder="">
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
            <div class="col-6">
                <div class=" baricon1 password-box">
                    <input type="password" asp-for="Password" class="searchbaricon1" id="password"
                        placeholder="Password">
                    <i class="bi bi-eye-fill eye-icon me-3" onclick="togglePassword()"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger text-start"
                    style=" font-size:small; font-family:Noto Sans;"></span>
            </div>
        </div>

        <div class="row mt-2 mb-3 ms-lg-1">
            <div class="rounded col-12 form-control pt-4 pb-4 d-flex align-items-center justify-content-center ">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h3><i class="bi bi-cloud-arrow-up"></i></h3>

                    <label for="formfile" class="form-label text-center ">
                        <div id="upload-btn"></div>
                        <img src="images/cloud-upload-icon.svg" alt="">Browse Files
                    </label>

                    <input type="file" class="form-control d-none" id="formfile" asp-for="FormFile"
                        accept="image/png, image/gif, image/jpeg" onchange="preview()">
                    <span asp-validation-for="FormFile" class="text-danger text-start "
                        style=" font-size:small; font-family:Noto Sans; "></span>
                </div>
            </div>
        </div>

        <div class="d-flex pb-3 gap-1">
            <div class="form-floating  m-auto col-4">
                <select id="countryDropdown" class="form-select" asp-for="CountryName" name="CountryId"
                    onchange="loadStates(this.value)">
                </select>
                <span asp-validation-for="CountryId" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>

            <div class="form-floating  m-auto col-4">
                <select id="stateDropdown" class="form-select" asp-for="StateName" name="StateId"
                    onchange="loadCities(this.value)">
                    <option value="">State</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>

            <div class="form-floating  m-auto col-4">
                <select id="cityDropdown" class="form-select" asp-for="CityName" name="CityId">
                    <option value="">City</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
        </div>
        <div class="d-flex gap-1">
            <div class=" m-auto col-4 form-floating">
                <input type="text" class="form-control hover-effect" asp-for='ZipCode' placeholder="">
                <label asp-for='ZipCode'>Zipcode</label>
                <span asp-validation-for="ZipCode" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
            <div class=" m-auto col-4 form-floating">
                <input type="text" class="form-control hover-effect" asp-for='Address' placeholder="">
                <label asp-for='Address'>Address</label>
                <span asp-validation-for="Address" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
            <div class=" m-auto col-4 form-floating">
                <input type="text" class="form-control hover-effect" asp-for='Phone' placeholder="">
                <label asp-for='Phone'>Phone</label>
                <span asp-validation-for="Phone" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
        </div>

        <div class="d-flex">
            <div class="btn-group gap-3 pb-4 pt-4 mx-auto">
                <button type="submit" name="submitButton" class="btn btn-primary active" aria-current="page"
                    value="Send">Create User</button>
                <a asp-action="UserList" class="btn btn-outline-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>


<script>
    function preview() {
        $("#upload-btn").html(`<img id="frame" src="" width="40%" height="40px" />`)
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    $(document).ready(function () {


        $.ajax({
            url: '/User/GetAllRole',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log("Response Data:", data);
                var options ;
                $.each(data, function (index, role) {
                    options += '<option value="' + role.roleId + '">' + role.roleName + '</option>';
                });

                $("#roleDropdown").html(options);
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
                $("#roleDropdown").html('<option value="-1">Failed to load roles</option>');
            }
        });
        $.ajax({
            url: '/User/GetAllCounty',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log("Response Data:", data);

                var options = '<option value="-1">Select Country</option>';
                $.each(data, function (index, country) {
                    options += '<option value="' + country.countryId + '">' + country.countryName + '</option>';
                });

                $("#countryDropdown").html(options);
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
                $("#countryDropdown").html('<option value="-1">Failed to load roles</option>');
            }
        });
    });


    const passwordIcon = document.querySelector('.eye-icon');
    const input = document.querySelector('.password-box input');

    var password = true;

    passwordIcon.addEventListener('click', function () {
        if (password) {
            input.setAttribute('type', 'text');
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');


        } else {
            input.setAttribute('type', 'password');
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');

        }
        password = !password;
    });
    function loadStates(countryId) {
        document.getElementById("stateDropdown").innerHTML = "<option value=''>State</option>";
        document.getElementById("cityDropdown").innerHTML = "<option value=''>City</option>";

        if (countryId) {
            fetch(`/User/GetStatesByCountry?countryId=${countryId}`)
                .then(response => response.json())
                .then(data => {
                    let stateDropdown = document.getElementById("stateDropdown");
                    data.forEach(function (state) {
                        let option = document.createElement("option");
                        option.value = state.stateId;
                        option.textContent = state.stateName;
                        stateDropdown.appendChild(option);
                    });
                });
        }
    }

    function loadCities(stateId) {

        document.getElementById("cityDropdown").innerHTML = "<option value=''>-- Select City --</option>";

        if (stateId) {
            fetch(`/User/GetCitiesByState?stateId=${stateId}`)
                .then(response => response.json())
                .then(data => {
                    let cityDropdown = document.getElementById("cityDropdown");
                    data.forEach(function (city) {
                        let option = document.createElement("option");
                        option.value = city.cityId;
                        option.textContent = city.cityName;
                        cityDropdown.appendChild(option);
                    });
                });
        }
    }
</script>