@model Pizzashop.entity.ViewModels.OrderDetailViewModel

<div class="modal" id="ConfirmationModalToggle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form id="Confirmation" method="post">
                    <input type="hidden" id="Orderid" asp-for="OrderId">
                    <input type="hidden" id="CustomerId" asp-for="CustomerId">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Complete Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body justify-content-center align-items-center d-flex flex-column">
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="Warning" height="40" width="40">
                        <p>Are you sure you want to Complete Order ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary CompleteBtn">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







@* <script>
        $(document).on("click", ".CompleteBtn", function () {
           
            var customerid = $("#CustomerId").val();
            var Orderid = $("#Orderid").val();
            $.ajax({
                url: "/OrderApp/ConfirmationOrderStatus",
                method: "POST",
                data: { customerid: customerid, Orderid: Orderid },
                success: function (data) {
                 
                    $("#ConfirmationModalToggle").modal('hide');
                    $("#CustomerReview123").html(data);
                    $("#CustomerReviewModel").modal('show');
                }
            })
        })
    </script> *@