@model Pizzashop.entity.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Forget Password";
}

<body class="pizzbody">
    <div class="login-container ">
        <div class="logologin mb-5">
            <img src="~/images/logos/pizzashop_logo.png" alt="Logo"
                style="object-fit: cover; width: 70px; height: 70px;">
            <h2 style="font-weight:900; margin-top: 10px;">PIZZASHOP</h2>
        </div>

        <h5 class="mb-4 ms-0 text-start " style="font-weight: 600;">Forget Password,</h5>



        <form asp-action="Passwordforget" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="baricon">
                    <input asp-for="Email" class="searchbaricon" type="email" placeholder="Email">
                    <i class="bi bi-person-fill"></i>
                </div>
                <span asp-validation-for="Email" class="text-danger text-start "
                    style=" font-size:small; font-family:Noto Sans; "></span>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-4">Send Email</button>

            <a asp-action="Login" class="text-secondary  text-decoration-none " style="margin:auto ">
                <div style="text-align: center;margin:auto ">Back to Login</div>
            </a>

        </form>
    </div>
</body>




@* <div class="pizzbody">
    <div class="d-flex flex-row align-content-center justify-content-center align-items-center mb-5 gap-3">
        <img src="~/images/logos/pizzashop_logo.png" alt="" style="object-fit: cover; width: 70px; height: 70px;">
        <h1 style="font-weight:900;">PIZZASHOP</h1>
    </div>

    <div class=" mx-5 align-content-center align-items-center justify-content-center "
        style=" text-align: -webkit-center;">

        <div class="d-flex flex-column gap-3 col-8   align-item-center justify-content-center align-content-center">
            <div class="mb-2 ms-0 text-start">
                <h2>
                    Forget Password,
                </h2>

            </div>
            <form asp-action="Passwordforget" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="bar align-items-center justify-content-between mb-1">
                    <input asp-for="Email" class="searchbar ms-3 w-100" type="email" placeholder="Email">
                    <i class="bi bi-person-fill me-3"></i>
                </div>
                <span asp-validation-for="Email" class="text-danger text-start"
                    style="float: left; font-size:small; font-family:Noto Sans;"></span>
                <div class="form-group row align-items-center mx-2 mb-5 mt-5">
                    <input type="submit" value="Send Email" class="btn btn-primary" />
                </div>
                <a asp-action="Login" class="text-secondary text-decoration-none">
                    <span>Back to Login</span>
                </a>

            </form>



        </div>
    </div>
</div> *@




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}