@model Pizzashop.entity.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Reset Password";
}

<body class="pizzbody">
    <div class="login-container ">
        <div class="logologin mb-5">
            <img src="~/images/logos/pizzashop_logo.png" alt="Logo"
                style="object-fit: cover; width: 70px; height: 70px;">
            <h2 style="font-weight:900; margin-top: 10px;">PIZZASHOP</h2>
        </div>

        <h5 class="mb-3 ms-0 text-start " style="font-weight: 600;">Reset your password</h5>

        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="baricon password-box">
                    <input type="password" asp-for="NewPassword" class="searchbaricon" id="password"
                        placeholder="New Password">
                    <i class="bi bi-eye-fill eye-icon" onclick="togglePassword()"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger text-start"
                    style=" font-size:small; font-family:Noto Sans;"></span>
            </div>
            <div class="mb-3">
                <div class="baricon password-box">
                    <input type="password" asp-for="ConfirmPassword" class="searchbaricon" id="password"
                        placeholder="Confirm New Password">
                    <i class="bi bi-eye-fill eye-icon" onclick="togglePassword()"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger text-start"
                    style=" font-size:small; font-family:Noto Sans;"></span>
            </div>



            <button type="submit" class="btn btn-primary w-100">Login</button>

        </form>

    </div>
</body>


@* <div class="pizzbody">
    <div class="d-flex flex-row align-content-center justify-content-center align-items-center mb-5 gap-3">
        <img src="~/images/logos/pizzashop_logo.png" alt="" style="object-fit: cover; width: 70px; height: 70px;">
        <h1 style="font-weight:900;">PIZZASHOP</h1>
    </div>

    <div class=" mx-5 align-content-center align-items-center justify-content-center "
        style=" text-align: -webkit-center;">

        <div class="d-flex flex-column gap-3 col-8   align-item-center justify-content-center align-content-center">
            <div class="mb-2 ms-0 text-start">
                <h2>
                    Reset your password
                </h2>
            </div>
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="Email">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="password-box bar align-items-center justify-content-between">
                    <input type="password" asp-for="NewPassword" class="searchbar  ms-3  " id="password"
                        placeholder="password">
                    <i class="bi bi-eye-fill eye-icon me-3"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger text-start "
                    style="float: left; font-size:small; font-family:Noto Sans;"></span>
                <br>

                <div class="password-box bar align-items-center justify-content-between">
                    <input type="password" asp-for="ConfirmPassword" class="searchbar  ms-3  " id="password"
                        placeholder="password">
                    <i class="bi bi-eye-fill eye-icon me-3"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger text-start" style="float: left;"></span>

                <br>
                <div class="form-group row align-items-center mx-2 mb-5 mt-5">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>



        </div>
    </div>
</div> *@




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}